<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    	http://www.springframework.org/schema/aop
    	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- 流程实例结束后的操作aop配置 -->
    <!--<aop:aspectj-autoproxy/>-->

    <!--<bean id="loginAspect" class="com.looty.aspect.LoginAspect"/>-->


    <!--<aop:config>-->
    <!--<aop:aspect id="loginAspect" ref="loginAspect">-->
    <!--<aop:pointcut id="afterLoginAop"-->
    <!--expression="execution(* com.looty.service.impl.UserAuthCodeServiceImpl.checkAuthCode(..))"/>-->
    <!--<aop:after-returning method="afterLogin" pointcut-ref="afterLoginAop" arg-names="returnArgs"-->
    <!--returning="returnArgs"/>-->
    <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>